<rux-card>
  <div slot="header" class="flex-space-between">
    <span class="active-alerts">
      <span id="active-alerts-number">{{ filteredAlerts().length }}</span>
      <span id="active-alerts-headline">
        {{ view() === 'new' ? 'Active' : 'Acknowledged' }} Alerts
      </span>
    </span>
    <div class="flex-gap">
      <rux-select
        #statusSelect
        label="Status"
        input-id="status-select"
        label-id="status-select-label"
        name="status-select"
        size="medium"
        (ruxchange)="setView(statusSelect.value)"
      >
        <rux-option value="new" label="New" selected />
        <rux-option value="ack" label="Acknowledged" />
      </rux-select>
      <rux-select
        #severitySelect
        label="Severity"
        input-id="severity-select"
        label-id="severity-select-label"
        name="severity-select"
        size="medium"
        (ruxchange)="setSeverity(severitySelect.value)"
      >
        <rux-option value="all" label="All" selected />
        <rux-option value="critical" label="Critical" />
        <rux-option value="serious" label="Serious" />
        <rux-option value="caution" label="Caution" />
        <rux-option value="normal" label="Normal" />
        <rux-option value="standby" label="Standby" />
        <rux-option value="off" label="Off" />
      </rux-select>
    </div>
  </div>
  <div id="alerts-list">
    <div class="alert-row" id="alerts-list-header">
      <div class="alert-cell" id="message">Message</div>
      <div class="alert-cell" id="contact">Contact</div>
      <div class="alert-cell" id="time">Time</div>
    </div>
    <rux-accordion disallow-multiple="">
      @for (alert of filteredAlerts(); track alert.key) {
        <rux-accordion-item>
          <div slot="label" class="alert-row">
            <div class="alert-cell message-status">
              <rux-status [status]="alert.acknowledged ? 'off' : alert.severity" />
              <span>{{ alert.errorMessage }}</span>
            </div>
            <div class="alert-cell">
              {{ alert.contactName }}
            </div>
            <div class="alert-cell">
              {{ alert.timestamps.contactBeginTimestamp }} -
              {{ alert.timestamps.contactEndTimestamp }}
            </div>
          </div>

          <div class="accordion-item-content">
            {{ alert.errorMessage }}
            <rux-button icon="launch" (click)="showDialog(alert)">Show Details</rux-button>
          </div>
        </rux-accordion-item>
      }
    </rux-accordion>
    <rux-dialog [open]="isDialogOpen()" (ruxdialogclosed)="handleRuxDialogClosed($event)">
      @let alert = selectedAlert();

      @if (alert) {
        <p class="dialog-contact">
          <span class="dialog-bold">Contact:</span>
          {{ alert.contactName }}
        </p>

        <p>
          <span class="dialog-bold">Detail:</span>
          {{ alert.contactDetail }}
        </p>
      }
      <div slot="footer">
        <div class="flex-space-between">
          @if (alert && !alert.acknowledged) {
            <rux-button (click)="acknowledgeAlert(alert.key); closeDialog()">
              Acknowledge
            </rux-button>
          }

          <rux-button secondary (click)="closeDialog()"> Close </rux-button>
        </div>
      </div>
    </rux-dialog>
  </div>
</rux-card>
