<rux-card>
  <div slot="header">
    <span class="active-alerts">
      <span id="active-alerts-number">{{ alerts.length }}</span>
      <span id="active-alerts-headline">Active Alerts</span>
    </span>
  </div>
  <div id="alerts-list">
    <div class="alert-row" id="alerts-list-header">
      <div class="alert-cell" id="message">Message</div>
      <div class="alert-cell" id="contact">Contact</div>
      <div class="alert-cell" id="time">Time</div>
    </div>
    <rux-accordion disallow-multiple="">
      @for (alert of alerts; track alert.key) {
        <rux-accordion-item>
          <div slot="label" class="alert-row">
            <div class="alert-cell message-status">
              <rux-status status="{{ alert.severity }}"></rux-status>
              <span>{{ alert.errorMessage }}</span>
            </div>
            <div class="alert-cell">
              {{ alert.contactName }}
            </div>
            <div class="alert-cell">
              {{ alert.timestamps.contactBeginTimestamp }} -
              {{ alert.timestamps.contactEndTimestamp }}
            </div>
          </div>
        </rux-accordion-item>
      }
    </rux-accordion>
  </div>
</rux-card>
