.active-alerts {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  width: 20%;
}

#active-alerts-number {
  font-weight: bold;
  font-size: 2rem;
}

#active-alerts-headline {
  font-size: 1rem;
}

.alert-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.25rem 0;
}

.alert-cell {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  place-content: center;
}

#alerts-list-header {
  font-size: larger;
  font-weight: bold;
}

#time {
  margin-right: 5rem;
  font-size: larger;
}

#contact {
  margin-right: 3rem;
}

#message {
  margin-left: 1rem;
}

.message-status {
  gap: 0.5rem;
  place-content: left;
}

.accordion-item-content {
  display: flex;
  justify-content: space-around;
}

.dialog-bold {
  font-weight: bold;
}

.dialog-contact {
  margin-bottom: 1rem;
}
