<rux-card>
  <div slot="header">
    <span class="active-alerts">
      <span id="active-alerts-number">{{ currentAlerts.length }}</span>
      <span id="active-alerts-headline"
        >{{ isNewOrAck === 'new' ? 'Active' : 'Acknowledged' }} Alerts</span
      >
    </span>
  </div>
  <div id="alerts-list">
    <div class="alert-row" id="alerts-list-header">
      <div class="alert-cell" id="message">Message</div>
      <div class="alert-cell" id="contact">Contact</div>
      <div class="alert-cell" id="time">Time</div>
    </div>
    <rux-accordion disallow-multiple="">
      @for (alert of currentAlerts; track alert.key) {
        <rux-accordion-item>
          <div slot="label" class="alert-row">
            <div class="alert-cell message-status">
              <rux-status status="{{ alert.severity }}"></rux-status>
              <span>{{ alert.errorMessage }}</span>
            </div>
            <div class="alert-cell">
              {{ alert.contactName }}
            </div>
            <div class="alert-cell">
              {{ alert.timestamps.contactBeginTimestamp }} -
              {{ alert.timestamps.contactEndTimestamp }}
            </div>
          </div>

          <div class="accordion-item-content">
            {{ alert.errorMessage }}
            <rux-button icon="launch" (click)="showDialog(alert)">Show Details</rux-button>
          </div>
        </rux-accordion-item>
      }
    </rux-accordion>
    {{ isDialogOpen }}
    <rux-dialog [open]="isDialogOpen" (ruxdialogclosed)="closeDialog()">
      <p class="dialog-contact">
        <span class="dialog-bold">Contact:</span> {{ dialogMessageContact }}
      </p>
      <p><span class="dialog-bold">Detail:</span> {{ dialogMessageDetail }}</p>
    </rux-dialog>
  </div>
</rux-card>
